/*@bg-overlay:    -moz-linear-gradient(-90deg, rgb(56,179,191)0%, rgb(22,149,163)100%);*/
/*@bg-overlay:     -ms-linear-gradient(-90deg, rgb(56,179,191)0%, rgb(22,149,163)100%);*/
body {
  margin: 0;
  font-size: 16px;
  background-color: #23a0ae;
}
.contant {
  width: 100%;
  height: 100%;
}
.container {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #f3ffe2;
  text-align: center;
}
h1 {
  margin: 0;
  padding-bottom: 70px;
  font-size: 4.5rem;
  font-family: 'Open Sans';
  font-weight: 800;
  line-height: 1.2;
}
p {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.5;
}
.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}
@media screen and (max-width: 1366px) {
  .row {
    flex-direction: column;
  }
}
.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 1366px) {
  .col-2 {
    width: 100%;
  }
}
img {
  max-width: 75%;
  max-height: 75%;
}
button {
  background-color: #23a0ae;
  border: none;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 6rem;
  color: #f3ffe2;
}
.overlay {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #23a0ae;
  background: -webkit-linear-gradient(-90deg, #38b3bf 0%, #1695a3 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  cursor: pointer;
}
.overlay h2 {
  color: #f3ffe2;
  font-size: 3.75rem;
  font-family: 'Open Sans';
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}
.overlay--open {
  display: flex;
}
@media screen and (max-width: 1440px) {
  .thumbnails {
    padding: 5%;
  }
}
.thumbnails:hover .photo {
  opacity: 0.15;
}
